@import url('https://fonts.googleapis.com/css?family=Muli:200,300,400,700');

body {
    font-family: 'Muli', sans-serif;
}

p {
    color: #757575;
}

/**
Header
**/

.header {
    height: 80px;
    width: 100%;
    background-color: rgb(30 , 30 , 30);
}

.header-logo {
    height: 60px;
    border-radius: 50%;
    margin-right: 20px;
    margin-top: -50%;
    float: left;
}

.header-brand {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 150%;
    margin-top: -17%;
    padding-left: 35px;
    display: block;
    text-shadow: 0px, 0px, 3px, rgb(30 , 30 , 30);
    transition: all, 0.5s;
    display: none;
}

.header-brand:hover{
    color: gray;
}

.header-brand-wrapper {
    margin-top: 50px;
    float: left;
}

.header-navbar {    
    display: none;
    float: right;
}

.header-navbar-links {
    color: white;
    float: right;
    margin-top: 22px;
    font-size: 200%;
    text-shadow: 0px, 0px, 3px, rgb(30 , 30 , 30);    
}

.header-navbar-links li {
    color: white;
    float: left;
    list-style-type: none;
    margin-left: 15px;
    transition: all, 0.5s;
    background-color: rgba(30 , 30 , 30, 70%);
}

.header-navbar-links li:hover {
    color: lightgray;   
}

.header-navbar-links a {
    color: white;   
}

.header-navbar-links a:hover {
    color: lightgray;   
}


.spacer {
    width: 100%;
    height: 80px;
}

.spacer-black {
    width: 100%;
    height: 80px;
    background-color: rgb(30 , 30 , 30);
}

/* Mobile first queries */

/* Larger than mobile */
@media (min-width: 400px) {
    .header-navbar {    
        display: block;
        float: right;
    }
}

/* Larger than phablet */
@media (min-width: 550px) {
    
}

/* Larger than tablet */
@media (min-width: 750px) {
    .header-brand {
        display: block;
        float: left;
        margin-left: 30px;
        padding-bottom: 15px;
    }
    .header-logo {
        margin-top: -20%;
    }
}

/* Larger than desktop */
@media (min-width: 1000px) {
    
}

/* Larger than Desktop HD */
@media (min-width: 1200px) {
    
}

/**
Service
**/

.service-top {
    padding-top: 0px;
    padding-bottom: 60px;
}

.service {
    padding-top: 60px;
    padding-bottom: 60px;
}

.service-gray {
    background-color: #fafafa;
}

.service-black {
    background-color: rgb(30 , 30 , 30);
}

.service-title {
    font-weight: lighter;
    margin-bottom: 30px;
}

.service-title-white {
    color: white;
    font-weight: lighter;
    margin-bottom: 30px;
}

.service-title-gray {
    font-weight: lighter;
    margin-bottom: 30px;
    text-align: end;
}


/* Mobile first queries */

/* Larger than mobile */
@media (min-width: 400px) {
    .service-icon {
        display: none;
    }
}

/* Larger than phablet */
@media (min-width: 550px) {
    .service-icon {
        display: block;
        font-size: 900%;
    }
}

/* Larger than tablet */
@media (min-width: 750px) {
    .service-icon {
        display: block;
        font-size: 1200%;
    }
}

/* Larger than desktop */
@media (min-width: 1000px) {
    .service-icon {
        display: block;
        font-size: 1350%;
    }
}

/* Larger than Desktop HD */
@media (min-width: 1200px) {
    .service-icon {
        display: block;
        font-size: 1550%;
    }
}

/**
Features
**/

.features {
    display: block;
}

.features-text {
    float: left;
    vertical-align: middle;
}

.features-text-white {
    color: white;
    float: left;
    vertical-align: middle;
}


.features-icon {
    color: rgb(30 , 30 , 30);
    font-size: 50px;
    float: left;
    padding-bottom: 40px;
    margin-right: 30px;
    vertical-align: middle;
}

.features-icon-white {
    color: white;
    font-size: 50px;
    float: left;
    padding-bottom: 40px;
    margin-right: 30px;
    vertical-align: middle;
}

/* Mobile first queries */

/* Larger than mobile */
@media (min-width: 400px) {
    .features-icon {
        display: block;
    }
    .features-icon-white {
        display: block;
    }
}

/* Larger than phablet */
@media (min-width: 550px) {
    .features-icon {
        text-align: center;
        width: 100%;
        margin-right: 0px;
        padding-bottom: 10px;
    }

    .features-icon-white {
        text-align: center;
        width: 100%;
        margin-right: 0px;
        padding-bottom: 10px;
    }

    .features-text {
        text-align: center;
        width: 100%;
    }

    .features-text-white {
        text-align: center;
        width: 100%;
        color: white;
    }
}

/* Larger than tablet */
@media (min-width: 750px) {
    
}

/* Larger than desktop */
@media (min-width: 1000px) {
    
}

/* Larger than Desktop HD */
@media (min-width: 1200px) {
    
}

/**
Contact
**/

.contact {
    padding-top: 100px;
    padding-bottom: 100px;
    color: white;
    background-color: rgb(30 , 30 , 30);;
}

.contact-heading {
    font-weight: lighter;
    margin-bottom: 0px;
    color: white;
    text-align: left;
}

.contact-subheading {
    text-align: center;
    color: white;
}

.contact-methods {
    color: white;
    list-style-type: none;
}

.contact-methods li {
    width: 50%;
    float: left;
    font-weight: lighter;
    height: 3em;
    vertical-align: middle
}

.contact-methods .fab  {
   font-size: 150%;
}

.contact-methods .far  {
    font-size: 150%;
 }

 .contact-methods .fas  {
    font-size: 150%;
 }

.contact-icon {
    display: inline-block;
    width: 40px;
    text-align: center;
    vertical-align: middle
}

/* Mobile first queries */

/* Larger than mobile */
@media (min-width: 400px) {
    .contact-methods li {
        width: 100%;
    }
}

/* Larger than phablet */
@media (min-width: 550px) {
    .contact-methods li {
        width: 100%;
    }
}

/* Larger than tablet */
@media (min-width: 750px) {
    .contact-methods li {
        width: 50%;
    }
}

/* Larger than desktop */
@media (min-width: 1000px) {
    .contact-methods li {
        width: 50%;
    }
}

/* Larger than Desktop HD */
@media (min-width: 1200px) {
    .contact-methods li {
        width: 50%;
    }
}

/**
Footer
**/

.footer {
    background-color: #7db133;
    padding-top: 60px;
}

.footer p {
    color: white;
}

.footer h5 {
    color: white;
    font-weight: bold;
}
