page-home {
  $MENU_TOP: #7bac2f;
  $MENU_BOTTOM: #7bac2f; //#ff9068
  $MENU_TRANSPARENCY: rgba(255,255,255,0.4);
  $SPLIT_TOP: 56px;

  .menu-item{
    background:none;
    color:white;
    font-weight:600;
    border:0px;
    .item-content{
      background:none;
      &.activated{
        background: $MENU_TRANSPARENCY;
      }
    }
    &.active-page-highlight{
      .item-content{
        background: $MENU_TRANSPARENCY;
      }
    }
  }

  .menu-gradient{
    background: -webkit-linear-gradient(left top, $MENU_TOP, $MENU_BOTTOM);
    background: -o-linear-gradient(bottom right, $MENU_TOP, $MENU_BOTTOM);
    background: -moz-linear-gradient(bottom right, $MENU_TOP, $MENU_BOTTOM);
    background: linear-gradient(to bottom right, $MENU_TOP, $MENU_BOTTOM);
  }

  .category-image{
    img{
      border-radius:50%;
      margin:10px;
      border: 4px solid $MENU_TRANSPARENCY;
      -webkit-box-shadow: 0px 0px 142px -37px rgba(0,0,0,0.75);
      -moz-box-shadow: 0px 0px 142px -37px rgba(0,0,0,0.75);
      box-shadow: 0px 0px 142px -37px rgba(0,0,0,0.75);
    }
  }

  hr {
    width: 100%;
    height: 4px;
    margin: 0 auto;
    color: black;
    background-color: black;
  }
}
